:root {
  --header-height: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  overflow: hidden;
  /* margin: var(--header-height) 0 0 0; */
  background-color: beige;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: #444;
  font-weight: 600;
  font-size: 1.6rem;
  z-index: 999;
}
@media (width >= 765px) {
  body {
    margin: 0;
  }
  .container {
    max-width: 97rem;
  }
  .bar__icon,
  .menu__close,
  .back {
    display: none;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    background-color: black;
    padding: 1rem 2rem;
  }
  .nav__list {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    text-transform: uppercase;
  }
  .nav__link {
    font-size: 1.4rem;
    height: 100%;
    color: #fff;
    justify-content: initial;
    column-gap: 0.25rem;
    padding: 1.3rem 0;
  }
  .right_icon {
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
  }
  .nav__items {
    position: relative;
  }
  .dropdown__menu {
    position: absolute;
    top: 6rem;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    background-color: black;
    padding: 1rem 2rem;
    -webkit-transition: opacity 0.4s top 0.4s;
    -moz-transition: opacity 0.4s top 0.4s;
    -ms-transition: opacity 0.4s top 0.4s;
    -o-transition: opacity 0.4s top 0.4s;
  }
  .nav__items:hover .dropdown__menu {
    opacity: 1;
    pointer-events: auto;
    top: 3.5rem;
  }
  .nav__items:hover .right_icon {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .dropdown-nav__link {
    padding-inline: 1rem 2rem;
    font-size: 1.5rem;
    color: #fff;
    /* background-color: red; */
  }

  .dropdown-nav__items {
    margin-bottom: 1rem;

    /* background-color: red; */
  }
}
@media (width >= 1224px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (width <= 765px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .bar__icon {
    rotate: -90deg;
    font-size: 1.8rem;
    color: grey;
    cursor: pointer;
  }

  .nav__menu,
  .dropdown__menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    transform: translateX(-100%);
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 4rem 0;
    transition: all 0.4s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    pointer-events: none;
  }
  .nav__menu.show {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    pointer-events: initial;
  }

  .nav__name,
  .dropdown-nav__name {
    color: rgb(135, 133, 133);
    padding: 0.5rem 1rem;
  }
  .menu__close {
    position: absolute;
    top: 0;
    right: 0;
    color: gray;
    font-size: 2rem;
    padding-right: 0.5rem;
    padding-top: 0.65rem;
    cursor: pointer;
  }
  .home {
    border-top: 0.1rem solid black;
  }
  .nav__link,
  .dropdown-nav__link {
    display: flex;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid black;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .hidden__sidebar {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
  }
  .visible__sidebar {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    opacity: 1;
    pointer-events: initial;
  }
  .dropdown__menu {
    display: block;
  }
}

@media (width <= 565px) {
  html {
    font-size: 52%;
  }
  .nav__menu,
  .dropdown__menu {
    width: 100vw;
  }
  .hidden__sidebar {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}
